<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=  f.label :Категория %><br />
    <%= f.text_field :name %>
  </div>
<div>
  <p> Подкатегории: </p>
  <% @category.children.each do |sub| %>
    <%= f.fields_for :children, sub do |child| %>
      <%= render "child_fields", :f => child %>
	<% end %>
  <% end %>
  <p><%= link_to_add_fields "Добавить подкатегорию", f, :children %></p>
</div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>

<% end %>
