<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=  f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div>
  <p> Subcategories
  <% @category.children.each do |sub| %>
    <%= f.fields_for :children, sub do |child| %>
      <div class="fields">
        <%= child.label :name %>
        <%= child.text_field :name %>
        <%= link_to_remove_fields "remove", child %>
      </div>
     <% end %>
  <p><%= link_to_add_fields "Add Subcategory", sub, :children %></p>
  <% end %>
  </p>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
