<div class="span8">
<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <h2>Ошибка:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="fieldset">
    <%=  f.label :Категория %>
    <%= f.text_field :name %>
  </div>
  <br /><br />
  <h5 align="centre"> Подкатегории: </h5>
  <br />
  <div>
    <% @category.children.each do |sub| %>
    <%= f.fields_for :children, sub do |child| %>
      <%= render "child_fields", :f => child %>
	<% end %>
  <% end %>
  <br/>
  <p><%= link_to_add_fields "Добавить подкатегорию", f, :children %></p>
  </div>

  </div>
  
  <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn success' %>
	<%= link_to 'Назад', admin_categories_path, :class => 'btn' %>
  </div>

<% end %>


