<div align="center">
<h1>Список категорий</h1><br /><br />

<table>
<% Category.roots.each do |category| %>
  <tr> <td> <%= category.name %> </td> <td> <%= link_to 'Редактировать', edit_admin_category_path(category) %> </td> <td> <%= link_to 'Удалить', ([:admin, category]), confirm: 'Вы уверены?', method: :delete %> </td> </tr>
  <% category.children.each do |child| %>
  <tr>  <td> -- <%= child.name %> </td> <td></td><td></td></tr>
  <% end %>
<% end %>
</table>
<br /><br /><br />
<%= link_to 'Создать категорию', new_admin_category_path %>
</div>
