<div align="center">
<h1>Список категорий</h1>
<div class="span12">
<table class="bordered-table zebra-striped">
  <thead>
  <tr>
	<th>Название</th>
	<th colspan=2></th>
  </tr>
  </thead>
  
  <tbody>
  <% Category.roots.each do |category| %>
    
    <tr>
	  <td> <%= category.name %> </td>
	  <td> <%= link_to 'Редактировать', edit_admin_category_path(category), :class => 'btn info' %> </td>
	  <td> <%= link_to 'Удалить', ([:admin, category]), confirm: 'Вы уверены?', method: :delete, :class => 'btn danger' %> </td>
    </tr>
	
    <% category.children.each do |child| %>
	
      <tr>
		<td> -- <%= child.name %> </td>
		<td></td>
		<td></td>
	  </tr>
	  
    <% end %>
	
  <% end %>
  </tbody>
</table>


<%= link_to 'Создать категорию', new_admin_category_path, :class => 'btn primary large' %>
</div>
</div>