<script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(input).prev('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<script type="text/javascript">
// Convert divs to queue widgets when the DOM is ready
$(function() {
var authtoken = $("input[name=authenticity_token]").val();
$("#uploader").pluploadQueue({
// General settings
runtimes : 'html5,flash,silverlight,gears,browserplus',
url : '/plupload_rails/_plupload_uploader',
max_file_size : '10mb',
//chunk_size : '1mb',
//unique_names : true,
multipart: true,
multipart_params :
$.extend({
},
{
authenticity_token : authtoken,
"_method" : "put",
"_plupload_upload" : "product[productimages_attributes][][image]"
}
),
flash_swf_url : '/javascripts/plupload/plupload.flash.swf',
silverlight_xap_url : '/javascripts/plupload/plupload.silverlight.xap'
,
init: {
FileUploaded: function(up, file, info) {
eval(info.response);
}
}
});
});
</script>


<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <h2>Ошибка:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="span18">
  <table class="bordered-table zebra-striped">
	  <tbody>
	    <tr>
		  <td> Артикул </td>
		  <td> <%= f.text_field :art %> </td>
	    </tr>
	
   	    <tr>
	      <td> Название </td>
	      <td> <%= f.text_field :name, :maxlength => 24 %> </td>
        </tr>
		
		<tr>
          <td> Цвет </td>
	      <td> <%= f.text_field :color %></td>
	    </tr>
	
	    <tr>
          <td> Цена </td>
	      <td> <%= f.text_field :price %></td>
	    </tr>
        
		<tr>
		  <td> Размеры: </td>
		  <td>
		    <table>
		      <%= f.fields_for :productsizes, @product.productsizes.sort_by{|a| a.size_id} do |ps| %>
		        <tr>
                  <%= ps.hidden_field :size_id %>
		          <td> <%= ps.object.size.code %> </td>
			      <td> <%= ps.text_field :amount %></td>
               </tr>
              <% end %>
		    </table>
	      </td>
		</tr>
		
		<tr>
		  <td> Категории: </td>
		  <td>
		  <div>
		  <% @product.productcategories.each do |pc| %>
		    <%= f.fields_for :productcategories, pc do |child| %>
              <%= render "productcategory_fields", :f => child %>
	        <% end %>
		  <% end %>
		   </div>
		   <div><%= link_to_add_fields "Добавить категорию", f, :productcategories %></div>
		  </td>
		</tr>
		
	    <tr>
          <td> Описание </td>
          <td> <%= f.text_area :description, :class => 'span10', :rows => 7 %> </td>
        </tr>
		
        <tr>
          <td> Новинка? </td>
          <td> <%= f.check_box :new_product %> </td>
        </tr>
        
        <tr>
          <td> Изображения: </td>
          <td>
          <div>
          <% @product.productimages.each do |pi| %>
            <%= f.fields_for :productimages, pi do |child| %>
              <%= render "productimage_fields", :f => child %>
            <% end %>
          <% end %>
           </div>
		   <div><%= link_to_add_fields "Добавить изображение", f, :productimages %></div>
		   <div id="uploader" name="uploader"></div>
          </td>
        </tr>

      </tbody>
    </table>

  

  <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn success' %>
	<%= link_to 'Назад', admin_products_path, :class => 'btn' %>
  </div>

<% end %>
 </div>
