
<div class="page-header">
  <h3 align="center">Просмотр товара <%= @product.name %></h3>
</div>

<div class="row">
  <div class="span6">
    <div><% if @product.productimages.present? %> <%= image_tag @product.productimages.first.image_url.to_s %> <% end %> </div>
	<div>
	   <% if @product.productimages.present? %><% @product.productimages.each do |pp| %><%= image_tag pp.image_url(:thumb).to_s %><% end %><% end %>
      </div>
  </div>
  
  <div class="span10">
    <table class="bordered-table zebra-striped">
	  <tbody>
	    <tr>
		  <td> Артикул </td>
		  <td> <%= @product.art %> </td>
	    </tr>
	
   	    <tr>
	      <td> Название </td>
	      <td> <%= @product.name %> </td>
        </tr>
		
		<tr>
          <td> Цвет </td>
	      <td> <%= @product.color %> </td>
	    </tr>
	
	    <tr>
          <td> Цена </td>
	      <td> <%= @product.price %> грн </td>
	    </tr>

	    <tr>
          <td> Размеры/Кол-во: </td>
          <td> <% @product.productsizes.each do |ps| %><%= " #{ps.size.code} - #{ps.amount}," %><% end %> </td>
	    </tr>
	  
	    <tr>
		  <td> Категории: </td>
		  <td> <% @product.productcategories.each do |pc| %><p> <% if pc.category.root? %> <%= " #{pc.category.name} " %> <% else %> <%= " #{pc.category.root.name} - #{pc.category.name} " %> <% end %> </p><% end %></td>
		</tr>


	    <tr>
          <td> Описание </td>
          <td> <%= simple_format(@product.description) %> </td>
        </tr>
	
      </tbody>
    </table>
  </div>

  <div align="center">
    <%= link_to 'Назад', admin_products_path, :class => 'btn' %>
    <%= link_to 'Редактировать', edit_admin_product_path(@product), :class => 'btn info' %></td>
    <%= link_to 'Удалить', ([:admin, @product]), confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %></td>
  </div>

</div>