
				<div class="catalog_item">
				<% if params[:mode] == 'all' %>
					<div>
					  <%= link_to product_path(:category_id=>(@category.id if @category), :id=>product.id) do %>
					    <%= image_tag(product.productimages.first.image_url(:catalog).to_s) %>
					    <% if product.new_product? %>
						  <%= image_tag "new.png", :class=> "catalog_item_new" %>
						<% end %>
					</div>
					<p><%= product.name %></p>
					<p class="color"><%= product.color %></p><p class="size"><%= product.price %> грн</p>
					  <% end %>
				<% else %>
					<div>
					  <%= link_to newest_product_path(:id => product.id, :mode=>'newest') do %>
					    <%= image_tag(product.productimages.first.image_url(:catalog).to_s) %>
					    <% if product.new_product? %>
						  <%= image_tag "new.png", :class=> "catalog_item_new" %>
						<% end %>
					</div>
					<p><%= product.name %></p>
					<p class="color"><%= product.color %></p><p class="size"><%= product.price %> грн</p>
					  <% end %>
				<% end %>
				</div>