<div class="pid">
  <div class="pid_image">

    <div class="pid_image_big">
      <% if @product.productimages.present? %>
        <%= image_tag @product.productimages.first.image_url.to_s %>
      <% end %>
    </div>

    <div class="pid_image_small">
      <ul>
        <% if @product.productimages.present? %>
          <% @product.productimages.each do |pp| %>
            <li>
              <a class="thumbnail" href="#thumb"><%= image_tag pp.image_url(:thumb).to_s %><span><%= image_tag pp.image_url.to_s %></span></a>
          <% end %>
            </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="pid_details">
    <h1><%= @product.name %></h1>
    Артикул №<%= @product.art %>

    <div class="pid_description">
      <span>Цена:</span> <b><%= @product.price %></b> грн
    </div>

    <div class="pid_description">
      <label for="size">Размер:</label>
      <%= select_tag "size" , options_from_collection_for_select(@product.sizes, "id", "code") %> 
	  <a class="tooltip" href="#">Таблица
	    <span class="info">
	      <table class="bordered-table zebra-striped">
		    <thead>
			  <tr>
			    <th></th>
				<th>ОГ</th>
				<th>ОТ</th>
				<th>ОБ</th>
			  </tr>
		  </thead>
  
          <tbody>
		    <tr>
			  <td>42</td>
			  <td>84</td>
			  <td>63</td>
			  <td>92</td>
			</tr>
	
			<tr>
			  <td>44</td>
			  <td>88</td>
			  <td>67</td>
			  <td>96</td>
			</tr>
		  </tbody>
  
		  </table>
	  
	    </span>
	   </a>
    </div>

    <div class="pid_description">
      <label for="quan">Количество:</label>
      <input type="text" value="1" id="pid_color_quan" name="" size="2"><br>
     <!-- <input type="submit" align="center" value="Купить"> -->
   </div>

   <div class="pid_description">
     <h2>Описание:</h2>
     <%= simple_format(@product.description) %>
  </div>

  <br>

  <div align="center">
    <%= link_to "Назад", :back, :class=>"btn close" %>
  </div>

  </div>
</div>


