<!DOCTYPE html>
<html>
<head>
  <title>AdminPanel for RiMaRi</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="#">RiMaRi::Admin</a>

          <ul class="nav">
            <li><%= link_to 'Товары', admin_products_path %></li>
            <li><%= link_to 'Категории', admin_categories_path %></li>
            <li><%= link_to 'Размеры', admin_sizes_path %></li>
          </ul>

          <p class="pull-right"><% if user_signed_in? %>Вы вошли как <%= current_user.email %>. <%= link_to "Выйти", destroy_user_session_path, :method => :delete %><% end %></p>

      </div>
    </div>
  </div>
  
<div class="container">
  <% if notice %>
    <div class="alert-message success"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="alert-message error"><%= alert %></div>
  <% end %>
  
  <%= yield %>
  
</div>
</body>
</html>
