<!DOCTYPE html>
<html>
<head>
  <title>RiMaRi.com.ua - Каталог - <%= @title %></title>
  <%= stylesheet_link_tag "common" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "pagination" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Rimari.com.ua - интернет-магазин модной женской одежды отечественного производства по низким ценам." />
  <meta name="keywords" content="женская, одежда, модная, дизайнерская, платье, туника, гольф, блуза, леггинсы, футболка, юбка, сарафан, рубашка, свитер, полувер, Ри Мари, римари, красивая, Харьков, производитель, коллекция, швейное предприятие, доступная, дешевая, отечественная" />
</head>
<body>
<div class="main_all">
<div class="main">
<div class="main_inner">
<div class="main_content">
<%= render "/header" %>

<div class="content">
  <div class="sub_content1">
    <ul>
	<li><%= link_to 'Новинки', newest_products_path, :class => ('active' if params[:mode] == 'newest') %></li>
	<li><%= link_to 'Все товары', products_path, :class => ('active' if params[:mode] == 'all' && @category.nil?) %></li>
	
	<% Category.roots.each do |cat| %>
	  <% if @category && cat.id == @category.id || @category && cat.children.collect { |i| i.id }.include?(@category.id) %>
		<li> <%= link_to "#{cat.name}", products_path(:category_id => cat.id), :class => 'active' %></li>
          <% cat.children.each do |child| %>
			<li class="sub"><%= link_to "#{child.name}", products_path(:category_id => child.id), :class => ('active' if child.id == @category.id) %></li>
          <% end %>
	  <% else %>
		<li> <%= link_to "#{cat.name}", products_path(:category_id => cat.id) %></li>
	  <% end %>
	<% end %>
	
	</ul>
  </div>
<%= yield %>
</div>

<%= render "/footer" %>
</div>

</div></div></div>
</body>
</html>