<!DOCTYPE html>
<html>
<head>
  <title>RiMaRi.com.ua - интернет-магазин женской одежды - <%= @title %></title>
  <%= stylesheet_link_tag  "common" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
  <%= javascript_include_tag  "libmin" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Rimari.com.ua - интернет-магазин модной женской одежды отечественного производства по низким ценам." />
  <meta name="keywords" content="женская, одежда, модная, дизайнерская, платье, туника, гольф, блуза, леггинсы, футболка, юбка, сарафан, рубашка, свитер, полувер, Ри Мари, римари, красивая, Харьков, производитель, коллекция, швейное предприятие, доступная, дешевая, отечественная" />
  <script type="text/javascript">
$(document).ready(function(){
	$('#mediaplayer .images').jCarouselLite({
    auto: 800,
    speed: 6000,
    visible: 3,
    size: 3
});
});
</script>
</head>
<body>
<div class="main_all">
<div class="main">
<div class="main_inner">
<div class="main_content">
<%= render "/header" %>
<%= yield %>
<%= render "/footer" %>
	</div>
</div></div></div>
</body>
</html>
