<!DOCTYPE html>
<html>
<head>
  <title>RiMaRi::Store - <%= @title %></title>
  <%= stylesheet_link_tag  "common" %>
  <%= javascript_include_tag  "application" %>
  <%= javascript_include_tag  "libmin" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
$(document).ready(function(){
	$('#mediaplayer .images').jCarouselLite({
    auto: 800,
    speed: 6000,
    visible: 3,
    size: 3
});
});
</script>
</head>
<body>
<div class="main_all">
<div class="main">
<div class="main_inner">
<div class="main_content">
<%= render "/header" %>
<%= yield %>
<%= render "/footer" %>
	</div>
</div></div></div>
</body>
</html>
